/* Couleur bleu marine */
:root {
  --primary-color: #0D47A1;
  --secondary-color: #1976D2;
  --tertiary-color: #BBDEFB;
  --inverse-color: #FFF;
}

/* Style du corps de la page */
body {
  background-color: var(--inverse-color);
  color: var(--primary-color);
  font-family: Arial, sans-serif;
}

/* Style pour les en-têtes de section */
h1, h2, h3 {
  color: var(--secondary-color);
}

/* Style pour les liens */
a {
  color: var(--tertiary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #004d80;
}

#joueurs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.joueur {
  width: 150px;
  height: 200px;
  background-color: #fff;
  border: 2px solid #004d80;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #004d80;
  text-shadow: 1px 1px #f2f2f2;
  box-shadow: 2px 2px #888888;
}
